body.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.light-mode {
  background-color: #fff;
  color: #333;
}

body.dark-mode .card,
body.dark-mode .component {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.light-mode .card,
body.light-mode .component {
  background-color: #fff;
  color: #333;

}